.letter-key {
  min-height: 4.5vmin;
  min-width: 5vmin;
  font-size: min(6vmin, 2.0rem);
  font-family: monospace;
  --padding-start: 2vmin;
  --padding-end: 1.8vmin;
}

.backspace-key, .enter-key {
  min-height: 4.5vmin;
  min-width: 4.5vmin;
  font-size: min(4vmin, 1.0rem);
  --padding-start: 2vmin;
  --padding-end: 1.8vmin;
}

.keyboard-grid {
  text-transform: uppercase;
}

.second-row {
  margin-inline-start: 2vmin;
}

.third-row {
  margin-inline-start: 2vmin;
}
