<ion-grid class="ion-no-padding" class="keyboard-grid" fixed>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding" size="auto" *ngFor="let key of firstRow">
      <ion-button (click)="onKeyPress(key)" class="letter-key">
        {{key}}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center second-row">
    <ion-col class="ion-no-padding" size="auto" *ngFor="let key of secondRow">
      <ion-button class="ion-no-padding" (click)="onKeyPress(key)" class="letter-key">
        {{key}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding" size="auto">
      <ion-button size="full" (click)="onKeyPress('backspace')" class="backspace-key">
        <ion-icon slot="icon-only" name="backspace"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center third-row">
    <ion-col class="ion-no-padding" size="auto" *ngFor="let key of thirdRow">
      <ion-button (click)="onKeyPress(key)" class="letter-key">
        {{key}}
      </ion-button>
    </ion-col>
    <ion-col class="ion-no-padding" size="2">
      <ion-button size="full" (click)="onKeyPress('enter')" class="enter-key">
        <ion-icon slot="icon-only" name="return-down-back"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
